@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: inherit;
}

html {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
}


.container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;

}

.logo {
    width: 220px;
    align-self: flex-start;
    padding-left: 40px;
    padding-top: 43px;
}


.left-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 105px;
    width: 100%;
}
.form-container{
    background-color: var(--form-background);
    justify-content: center;
    display: flex;
    max-width: 575px;
    width: 100%;
    border-radius: 12px;
}
.formulario {
    /* margin: 20px 74px; */
    padding-block: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    position: relative;
}

.info-login {
    display: flex;
    gap: 10px;
}

.info-login h1 {
    color: var(--text-title);
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.info {
    margin-bottom: 27px;
}

.info p {
    color: var(--text-base);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.formulario label {
    color: var(--text-base);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.formulario input[type="email"],
.formulario input[type="password"] {
    background-color: transparent;
    max-width: 335px;
    height: 44px;
    border: 1px solid var(--text-base);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding-block: 14px;
    padding-left: 41px;
    margin-bottom: 20px;
    line-height: 16px;
    color: #A9AFB9;
}

.formulario input[type="email"]:focus,
.formulario input[type="password"]:focus {
    outline-color: #FFC632;
    outline-width: 2px;
    outline-style: solid;
}

input {
    color-scheme: dark;
}

.formulario label {
    position: relative;
    margin-bottom: 5px;
}

.formulario label[for="email"]::after {
    content: "";
    position: absolute;
    top: 43px;
    left: -41px;
    background-image: url(/assets/img/mail.svg);
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}

.formulario label[for="senha"]::after {
    content: "";
    position: absolute;
    top: 43px;
    left: -39px;
    background-image: url(/assets/img/lock.svg);
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}
.info p::after{
    content: "";
    position: absolute;
    bottom: 218px;
    right: 12px;
    background-image: url(/assets/img/eye.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.chekbox-wrapper label {
    margin-bottom: 0px;
}

.reset-senha {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.chekbox-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox {
    appearance: none;
    display: inline-block;
    border: 1px solid #868686;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox:checked:before {
    content: "";
    display: block;
    width: 10px;
    height: 5px;
    position: relative;
    top: -1px;
    transform: rotate(-45deg);
    border-left: 2px solid #473404;
    border-bottom: 2px solid #473404;
}

.checkbox:checked {
    background-color: var(--primary-color);
}

/* .lembrar {
    display: flex;
    gap: 10px;
}

.lembrar::before {
    content: "";
    display: inline-block;
    border: 1px solid #868686;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.checkbox:checked+.lembrar::before {
    background-color: var(--primary-color);
} */

.formulario a {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.formulario span {
    font-weight: 400;
    color: var(--primary-color);
    font-size: 14px;
    line-height: 21px;
}

button {
    background-color: var(--primary-color);
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #473404;
    cursor: pointer;
}

.right-area img {
    max-width: 100%;
    width: 1000px;
    height: 100vh;
    object-fit: cover;
    object-position: left;
}

.conta {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 14px;
}

@media(max-width:1200px) {
    .container {
        display: inline-block;
        width: 100%;
    }

    .right-area {
        display: none;
    }
}
@media(max-width:620px){
    .container{
        padding-inline:15px;
    }
    .form-container{
        background-color: transparent;
    }
    .left-area{
        gap: 0px;
    }
    .logo{
        width: 181px;
        align-self: start;
        padding-top: 43px;
        padding-left: 49px;
    }
}